data/Entrega dos Final/docs/nodeRED.json
[{"id":"fa51a5b5.3ef07","type":"tab","label":"Telemetry Flow","disabled":false,"info":""},{"id":"a0027e89.fd2ea","type":"mqtt out","z":"fa51a5b5.3ef07","name":"","topic":"Activo.A4.conjunto.1.1.1","qos":"0","retain":"false","broker":"de52ba5b.4c7e18","x":970,"y":460,"wires":[]},{"id":"2eb85085.5f27f","type":"mqtt out","z":"fa51a5b5.3ef07","name":"","topic":"Activo.A5.conjunto.1.1.1","qos":"0","retain":"false","broker":"de52ba5b.4c7e18","x":990,"y":560,"wires":[]},{"id":"5ba7a1f8.1cea3","type":"mqtt out","z":"fa51a5b5.3ef07","name":"","topic":"Activo.A3.conjunto.1.1.1","qos":"0","retain":"false","broker":"de52ba5b.4c7e18","x":930,"y":260,"wires":[]},{"id":"6fad483a.f516e","type":"switch","z":"fa51a5b5.3ef07","name":"","property":"payload.numer","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":450,"y":600,"wires":[["57a21a9a.cd20ac"],["4216b4eb.f6204c"],["c0481df4.838a6"],["88e343ee.fc9868"],["cbbf8469.87fcc8"],["8d32e2e5.e7343"]]},{"id":"1036cabc.9e191d","type":"function","z":"fa51a5b5.3ef07","name":"formato","func":"var res = {};\nvar sensorString;\nvar valor = null;\n\nsensorString = msg.payload.split(\"/\");\n\nif(sensorString.length==3) valor = sensorString[2];\n\nres.topic = \"sensor\";\nres.payload = {};\nres.payload = {\"identificador\": sensorString[0], \n    \"numer\": parseInt(sensorString[1]), \n    \"value\": valor\n}\nreturn res;","outputs":1,"noerr":0,"x":200,"y":480,"wires":[["4b92bf67.3bc5c8","6fad483a.f516e"]]},{"id":"4b92bf67.3bc5c8","type":"debug","z":"fa51a5b5.3ef07","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":380,"y":440,"wires":[]},{"id":"9d2536cb.fed378","type":"mqtt out","z":"fa51a5b5.3ef07","name":"","topic":"Activo.A6.conjunto.1.1.1","qos":"0","retain":"false","broker":"de52ba5b.4c7e18","x":970,"y":680,"wires":[]},{"id":"8b0339f0.fe3fe","type":"debug","z":"fa51a5b5.3ef07","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":640,"y":260,"wires":[]},{"id":"57a21a9a.cd20ac","type":"function","z":"fa51a5b5.3ef07","name":"Registro Mongo","func":"var res = {};\nres.topic = \"alerta\";\nres.payload = {};\nres.payload = {\n    \"Activo\": \"true\", \n    \"Tipo\": \"A1. Puerta Abierta\",\n    \"Conjunto\": \"Mirandela\",\n    \"Torre\": \"1\",\n    \"Piso\": \"1\",\n    \"Apartamento\": \"1\"\n}\nreturn res;","outputs":1,"noerr":0,"x":660,"y":380,"wires":[["5ba7a1f8.1cea3","8b0339f0.fe3fe"]]},{"id":"4216b4eb.f6204c","type":"function","z":"fa51a5b5.3ef07","name":"Registro Mongo","func":"var res = {};\nres.topic = \"alerta\";\nres.payload = {};\nres.payload = {\n    \"Activo\": \"true\", \n    \"Tipo\": \"A2. Movimiento Sospechoso\",\n    \"Conjunto\": \"Mirandela\",\n    \"Torre\": \"1\",\n    \"Piso\": \"1\",\n    \"Apartamento\": \"1\"\n}\nreturn res;","outputs":1,"noerr":0,"x":680,"y":500,"wires":[["a0027e89.fd2ea","8b0339f0.fe3fe"]]},{"id":"c0481df4.838a6","type":"function","z":"fa51a5b5.3ef07","name":"Registro Mongo","func":"var res = {};\nres.topic = \"alerta\";\nres.payload = {};\nres.payload = {\n    \"Activo\": \"true\", \n    \"Tipo\": \"A3. Intentos máximos con clave incorrecta\",\n    \"Conjunto\": \"Mirandela\",\n    \"Torre\": \"1\",\n    \"Piso\": \"1\",\n    \"Apartamento\": \"1\"\n}\nreturn res;","outputs":1,"noerr":0,"x":680,"y":600,"wires":[["2eb85085.5f27f","8b0339f0.fe3fe"]]},{"id":"88e343ee.fc9868","type":"function","z":"fa51a5b5.3ef07","name":"Registro Mongo","func":"var res = {};\nres.topic = \"alerta\";\nres.payload = {};\nres.payload = {\n    \"Activo\": \"true\", \n    \"Tipo\": \"A4. Batería Baja\",\n    \"Conjunto\": \"Mirandela\",\n    \"Torre\": \"1\",\n    \"Piso\": \"1\",\n    \"Apartamento\": \"1\"\n}\nreturn res;","outputs":1,"noerr":0,"x":680,"y":660,"wires":[["9d2536cb.fed378","8b0339f0.fe3fe"]]},{"id":"13434ec4.e86639","type":"mqtt in","z":"fa51a5b5.3ef07","name":"","topic":"Activo.A1.conjunto.1.1.1","qos":"0","broker":"de52ba5b.4c7e18","x":150,"y":320,"wires":[["f5f8410a.810f58","1036cabc.9e191d"]]},{"id":"f5f8410a.810f58","type":"debug","z":"fa51a5b5.3ef07","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":440,"y":320,"wires":[]},{"id":"cbbf8469.87fcc8","type":"function","z":"fa51a5b5.3ef07","name":"HeartBeat","func":"var valor = \"Health-Check;;Activo.A1.conjunto.1.1.1.health-check\";\nvar res = {};\nres.topic = \"Clave\";\nres.payload = {};\nres.payload = {\n    \"Valor\": valor\n}\nreturn res;","outputs":1,"noerr":0,"x":660,"y":720,"wires":[["df07fcfa.06ae4","8b0339f0.fe3fe","e8d4292e.db1eb"]]},{"id":"8d32e2e5.e7343","type":"function","z":"fa51a5b5.3ef07","name":"Dar Acceso Clave","func":"var valor = msg.payload.value;\nvar res = {};\nres.topic = \"Clave\";\nres.payload = {};\nres.payload = {\n    \"Valor\": valor\n}\nreturn res;","outputs":1,"noerr":0,"x":690,"y":780,"wires":[["8b0339f0.fe3fe","9b4f0ae7.ee437","e8d4292e.db1eb"]]},{"id":"df07fcfa.06ae4","type":"mqtt out","z":"fa51a5b5.3ef07","name":"","topic":"Activo.A1.conjunto.1.1.1.health-check","qos":"0","retain":"false","broker":"de52ba5b.4c7e18","x":1010,"y":720,"wires":[]},{"id":"9b4f0ae7.ee437","type":"mqtt out","z":"fa51a5b5.3ef07","name":"","topic":"Activo.A1.conjunto.1.1.1.claves","qos":"0","retain":"false","broker":"de52ba5b.4c7e18","x":990,"y":780,"wires":[]},{"id":"42e3bafc.d706e4","type":"inject","z":"fa51a5b5.3ef07","name":"","topic":"","payload":"A/2","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":400,"wires":[[]]},{"id":"4f55daeb.4cec64","type":"random","z":"fa51a5b5.3ef07","name":"","low":"1","high":"4","inte":"true","property":"payload.numer","x":300,"y":620,"wires":[[]]},{"id":"e8d4292e.db1eb","type":"debug","z":"fa51a5b5.3ef07","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":940,"y":900,"wires":[]},{"id":"de52ba5b.4c7e18","type":"mqtt-broker","z":"","name":"","broker":"172.24.41.200","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""}]