Experimento1/experimento1.json
[{"id":"f61d1ec3.19bdd","type":"tab","label":"Flujo Experimento 1","disabled":false,"info":""},{"id":"98b1e706.687688","type":"serial-port","z":"","serialport":"COM1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"789988f1.80ae18","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"Temperatura","name":""},{"id":"f25f956c.896188","type":"serial-port","z":"","serialport":"COM5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"e7acdc5.3d4ee2","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"Temperatura","name":""},{"id":"7c32c741.588ff8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"832a5e2a.490d","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"25b49dbc.604032","type":"ui_group","z":"","name":"Estado del Depósito","tab":"832a5e2a.490d","disp":true,"width":"6"},{"id":"de251f4.33382e","type":"serial-port","z":"","serialport":"/dev/tty.usbserial-A100E1J5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"3e50083c.c17118","type":"mqtt-broker","z":"","broker":"172.24.42.76","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"4f7f8cc3.fd6fb4","type":"serial-port","z":"","serialport":"/dev/tty.usbserial-A100E1J5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"5eafed1a.38d294","type":"serial-port","z":"","serialport":"/dev/tty.usbserial-A100E1J5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"1abe0904.336e27","type":"serial-port","z":"","serialport":"/dev/tty.usbserial-A100E1J5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"e0effd31.59ead","type":"mqtt-broker","z":"","broker":"172.24.42.29","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"3c3b57a.a0cf8a8","type":"serial-port","z":"","serialport":"/dev/tty.usbserial-A100E1J5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"17b25ddc.3c2c02","type":"serial-port","z":"","serialport":"/dev/tty.usbserial-A100E1J5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"2e93ba3b.178be6","type":"serial in","z":"f61d1ec3.19bdd","name":"sensor","serial":"f25f956c.896188","x":130,"y":60,"wires":[["9693f630.037208"]]},{"id":"5ed9ccb1.ac8f34","type":"inject","z":"f61d1ec3.19bdd","name":"Sensor Time","topic":"time","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":"","x":100,"y":180,"wires":[["44aaddee.20be84","4f55c326.a7dd6c"]]},{"id":"44aaddee.20be84","type":"debug","z":"f61d1ec3.19bdd","name":"beforeFormatPIR","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":371,"y":176,"wires":[]},{"id":"4f55c326.a7dd6c","type":"function","z":"f61d1ec3.19bdd","name":"Format Time","func":"var res = {};\n\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":350,"y":240,"wires":[["e4186cd9.48d58","2a27d59a.e38f7a"]]},{"id":"83c36d0b.ac03c","type":"debug","z":"f61d1ec3.19bdd","name":"AfterFormatPIR","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":664,"y":30,"wires":[]},{"id":"e4186cd9.48d58","type":"debug","z":"f61d1ec3.19bdd","name":"afterFormat2PIR","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":601.0000381469727,"y":289,"wires":[]},{"id":"2a27d59a.e38f7a","type":"function","z":"f61d1ec3.19bdd","name":"Merge 2 Messages ","func":"context.data = context.data || {};\n\nswitch (msg.topic) \n{\n    case \"sensor movimiento\":\n        context.data.time = msg.payload;\n        msg = null;\n        break;\n        \n    case \"time\":\n        context.data.sensor = msg.payload;\n        msg = null;\n        break;\n    \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.time !== null && context.data.sensor !== null) \n{\n    res = {};\n    res.payload = {info:JSON.stringify(context.data.time), hora :JSON.stringify(context.data.sensor)};\n    res.topic = \"sensor movimiento\";\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":670,"y":140,"wires":[["b89cab08.9b0c78","6de0d535.7ca50c"]]},{"id":"b89cab08.9b0c78","type":"debug","z":"f61d1ec3.19bdd","name":"after merge PIR","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":930,"y":180,"wires":[]},{"id":"6de0d535.7ca50c","type":"mqtt out","z":"f61d1ec3.19bdd","name":"","topic":"Activo/A1/conjunto/1/1/1","qos":"0","retain":"false","broker":"3e50083c.c17118","x":960,"y":100,"wires":[]},{"id":"9693f630.037208","type":"function","z":"f61d1ec3.19bdd","name":"Format To Alert1","func":"var res = {};\nvar sensorString;\n\nsensorString = msg.payload.trim(\" \");\n\nif(sensorString === \"Alerta1\")\n{\n    res.topic = \"sensor movimiento\";\n    res.payload = {};\n    res.payload = {\"alerta\": sensorString, \"place\": \"Casa 1\"}\n    return res;\n}\nelse\n{\n    \n}\n\n","outputs":1,"noerr":0,"x":360,"y":60,"wires":[["83c36d0b.ac03c","2a27d59a.e38f7a"]]},{"id":"da776bb0.011b98","type":"debug","z":"f61d1ec3.19bdd","name":"afterFormatButton","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":674,"y":450,"wires":[]},{"id":"dd258cde.0e0bd","type":"mqtt out","z":"f61d1ec3.19bdd","name":"","topic":"Activo/A2/conjunto/1/1/1","qos":"0","retain":"false","broker":"3e50083c.c17118","x":1020,"y":520,"wires":[]},{"id":"263e92f3.d07fee","type":"inject","z":"f61d1ec3.19bdd","name":"Sensor Time","topic":"time","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":"","x":100,"y":1040,"wires":[["b1352309.0de1a","35b0f9e2.0b70a6"]]},{"id":"b1352309.0de1a","type":"debug","z":"f61d1ec3.19bdd","name":"beforeFormatKeypad","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":380,"y":1020,"wires":[]},{"id":"35b0f9e2.0b70a6","type":"function","z":"f61d1ec3.19bdd","name":"Format Time","func":"var res = {};\n\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":314,"y":1099,"wires":[["3f9b09a.f52fcf6","edbf3b2a.255858"]]},{"id":"69224054.9b285","type":"debug","z":"f61d1ec3.19bdd","name":"afterFormatKeypad","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":634,"y":890,"wires":[]},{"id":"3f9b09a.f52fcf6","type":"debug","z":"f61d1ec3.19bdd","name":"afterFormatKeypad","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":571.0000381469727,"y":1149,"wires":[]},{"id":"edbf3b2a.255858","type":"function","z":"f61d1ec3.19bdd","name":"Merge 2 Messages ","func":"context.data = context.data || {};\n\nswitch (msg.topic) \n{\n    case \"sensor clave incorrecta\":\n        context.data.time = msg.payload;\n        msg = null;\n        break;\n        \n    case \"time\":\n        context.data.sensor = msg.payload;\n        msg = null;\n        break;\n    \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.time !== null && context.data.sensor !== null) \n{\n    res = {};\n    res.payload = {info:JSON.stringify(context.data.time), hora :JSON.stringify(context.data.sensor)};\n    res.topic = \"sensor clave incorrecta\";\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":663,"y":1015,"wires":[["6bd910f0.2a8f6","1c6458bc.880797"]]},{"id":"6bd910f0.2a8f6","type":"debug","z":"f61d1ec3.19bdd","name":"after merge Keypad","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":960,"y":1040,"wires":[]},{"id":"1c6458bc.880797","type":"mqtt out","z":"f61d1ec3.19bdd","name":"","topic":"Activo/A3/conjunto/1/1/1","qos":"0","retain":"false","broker":"3e50083c.c17118","x":980,"y":960,"wires":[]},{"id":"31f1caf2.4adfc6","type":"function","z":"f61d1ec3.19bdd","name":"Format To Alert3","func":"var res = {};\n\nvar sensorString;\n\nsensorString = msg.payload.trim(\" \");\n\nif(sensorString === \"Alerta3\")\n{\n    res.topic = \"sensor clave incorrecta\";\n    res.payload = {};\n    res.payload = {\"alerta\": sensorString, \"place\": \"Casa 1\"}\n    return res;\n}\nelse\n{\n    \n}\n\n","outputs":1,"noerr":0,"x":320,"y":920,"wires":[["69224054.9b285","edbf3b2a.255858"]]},{"id":"436c8b60.fbbb94","type":"serial in","z":"f61d1ec3.19bdd","name":"sensor","serial":"f25f956c.896188","x":70,"y":480,"wires":[["4ad19b1e.529344","1783ea6f.7515c6"]]},{"id":"863afbf8.eea088","type":"serial in","z":"f61d1ec3.19bdd","name":"sensor","serial":"f25f956c.896188","x":90,"y":920,"wires":[["31f1caf2.4adfc6"]]},{"id":"4ad19b1e.529344","type":"debug","z":"f61d1ec3.19bdd","name":"sensor debug","active":false,"tosidebar":false,"console":false,"tostatus":false,"complete":"true","x":320,"y":420,"wires":[]},{"id":"1783ea6f.7515c6","type":"function","z":"f61d1ec3.19bdd","name":"Format To Alert2","func":"var res = {};\nvar sensorString;\n\nsensorString = msg.payload.trim(\" \");\n\n\nif(sensorString === \"Alerta2\")\n{\n    res.topic = \"sensor puerta abierta\";\n    res.payload = {};\n    res.payload = {\"alerta\": sensorString, \"place\": \"Casa 1\"}\n    return res;\n}\nelse\n{\n    res.payload = {};\n    res.payload = {\"no entra\": \"true\"}\n    return res;\n}","outputs":1,"noerr":0,"x":320,"y":520,"wires":[["da776bb0.011b98","ed352db4.94f53"]]},{"id":"b6f2e1d.c92ed2","type":"function","z":"f61d1ec3.19bdd","name":"Format Time","func":"var res = {};\n\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":354,"y":659,"wires":[["e387382a.2aa4e8","ed352db4.94f53"]]},{"id":"e387382a.2aa4e8","type":"debug","z":"f61d1ec3.19bdd","name":"afterFormatButton2","active":false,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","x":601.0000381469727,"y":709,"wires":[]},{"id":"3fabb483.c8aeec","type":"debug","z":"f61d1ec3.19bdd","name":"after merge Button","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","x":990,"y":600,"wires":[]},{"id":"ed352db4.94f53","type":"function","z":"f61d1ec3.19bdd","name":"Merge 2 Messages  ","func":"context.data = context.data || {};\n\nswitch (msg.topic) \n{\n    case \"sensor puerta abierta\":\n        context.data.time = msg.payload;\n        msg = null;\n        break;\n        \n    case \"time\":\n        context.data.sensor = msg.payload;\n        msg = null;\n        break;\n    \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.time !== null && context.data.sensor !== null) \n{\n    res = {};\n    res.payload = {info:JSON.stringify(context.data.time), hora :JSON.stringify(context.data.sensor)};\n    res.topic = \"sensor puerta abierta\";\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":703,"y":575,"wires":[["3fabb483.c8aeec","dd258cde.0e0bd"]]},{"id":"89fd8723.a82218","type":"debug","z":"f61d1ec3.19bdd","name":"beforeFormatButton","active":false,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","x":381,"y":596,"wires":[]},{"id":"8e7b5add.c9eea8","type":"inject","z":"f61d1ec3.19bdd","name":"Sensor Time","topic":"time","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":100,"y":600,"wires":[["89fd8723.a82218","b6f2e1d.c92ed2"]]}]