data/Entrega uno Final/flujos_nodered_codigo_arduino_v2/flujosexp1.json
[{"id":"110e4f2f.c13ce1","type":"tab","label":"Telemetry Flow","disabled":false,"info":""},{"id":"6f96d522.53d094","type":"mqtt out","z":"110e4f2f.c13ce1","name":"","topic":"Activo.A2.conjunto.1.1.1","qos":"0","retain":"false","broker":"e7776d56.84b2f8","x":970,"y":460,"wires":[]},{"id":"2947f7c0.15d2b","type":"mqtt out","z":"110e4f2f.c13ce1","name":"","topic":"Activo.A3.conjunto.1.1.1","qos":"0","retain":"false","broker":"e7776d56.84b2f8","x":990,"y":560,"wires":[]},{"id":"88039f72.6b6628","type":"serial in","z":"110e4f2f.c13ce1","name":"sensor","serial":"a9df94cc.a607d8","x":110,"y":660,"wires":[[]]},{"id":"a68cea50.08a3e8","type":"mqtt out","z":"110e4f2f.c13ce1","name":"","topic":"Activo.A1.conjunto.1.1.1","qos":"0","retain":"false","broker":"e7776d56.84b2f8","x":930,"y":260,"wires":[]},{"id":"a2c7cbd7.ec4aa8","type":"switch","z":"110e4f2f.c13ce1","name":"","property":"payload.numer","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":450,"y":600,"wires":[["57a4c119.8a115","64fa097f.3e28b"],["fc864889.fc0b1","68520646.71aa98"],["bb832fbf.96c29","f65579f2.921c1"],["fbd76429.26ba28","ed52bb62.5c99c"]]},{"id":"4006f90f.60589","type":"function","z":"110e4f2f.c13ce1","name":"formato","func":"var res = {};\nvar sensorString;\n\nsensorString = msg.payload.split(\"/\");\n\nres.topic = \"sensor\";\nres.payload = {};\nres.payload = {\"identificador\": sensorString[0], \n    \"numer\": parseInt(sensorString[1])}\nreturn res;","outputs":1,"noerr":0,"x":200,"y":480,"wires":[["ba304d14.84d838","b110b66a.10af2"]]},{"id":"ba304d14.84d838","type":"debug","z":"110e4f2f.c13ce1","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":380,"y":440,"wires":[]},{"id":"6cacc483.625b84","type":"inject","z":"110e4f2f.c13ce1","name":"","topic":"","payload":"A/2","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":400,"wires":[["4006f90f.60589"]]},{"id":"434195de.baa794","type":"debug","z":"110e4f2f.c13ce1","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":340,"y":280,"wires":[]},{"id":"677f5051.ecc6","type":"kafka in","z":"110e4f2f.c13ce1","zkquorum":"172.24.42.94:8081","topics":"Activo.A1.conjunto.1.1.1","groupId":"group_1","debug":true,"autoCommit":true,"x":110,"y":280,"wires":[["434195de.baa794"]]},{"id":"1554de07.80ce2a","type":"mqtt out","z":"110e4f2f.c13ce1","name":"","topic":"Activo.A4.conjunto.1.1.1","qos":"0","retain":"false","broker":"e7776d56.84b2f8","x":970,"y":680,"wires":[]},{"id":"4d9cc38e.3ef3f4","type":"mongodb out","z":"110e4f2f.c13ce1","mongodb":"6e8400b4.cd5128","name":"","collection":"alertas","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1020,"y":340,"wires":[]},{"id":"c7857f9e.23cb7","type":"mongodb in","z":"110e4f2f.c13ce1","mongodb":"6e8400b4.cd5128","name":"","collection":"alertas","operation":"find","x":460,"y":80,"wires":[["a9043e32.509178"]]},{"id":"22c39d80.67fdaa","type":"inject","z":"110e4f2f.c13ce1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":80,"wires":[["c7857f9e.23cb7"]]},{"id":"a9043e32.509178","type":"debug","z":"110e4f2f.c13ce1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":100,"wires":[]},{"id":"57a4c119.8a115","type":"function","z":"110e4f2f.c13ce1","name":"JSON pa Correos","func":"var res = {};\nres.topic = \"alerta\";\nres.payload = {};\nres.payload = {\"codigo\": \"Alarma 1 Puerta Abierta\", \n    \"destinatario\": \"paulis949@gmail.com\",\n    \"mensaje\":\"ALERTA1. La puerta de su inmueble ha permanecido abierta por más de 30 segundos\",\n    \"asunto\":\"URGENTE YALE CORPORATION ALERTA\"\n}\nreturn res;","outputs":1,"noerr":0,"x":650,"y":320,"wires":[["a68cea50.08a3e8","2f44a34a.40b47c"]]},{"id":"fc864889.fc0b1","type":"function","z":"110e4f2f.c13ce1","name":"JSON pa Correos","func":"var res = {};\nres.topic = \"alerta\";\nres.payload = {};\nres.payload = {\"codigo\": \"Alarma 2 Movimiento Sospechoso\", \n    \"destinatario\": \"paulis949@gmail.com\",\n    \"mensaje\":\"ALERTA2. Se acaba de detectar un movimiento sospechoso en su inmueble.\",\n    \"asunto\":\"URGENTE YALE CORPORATION ALERTA\"\n}\nreturn res;","outputs":1,"noerr":0,"x":670,"y":460,"wires":[["6f96d522.53d094","2f44a34a.40b47c"]]},{"id":"2f44a34a.40b47c","type":"debug","z":"110e4f2f.c13ce1","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":640,"y":260,"wires":[]},{"id":"bb832fbf.96c29","type":"function","z":"110e4f2f.c13ce1","name":"JSON pa Correos","func":"var res = {};\nres.topic = \"alerta\";\nres.payload = {};\nres.payload = {\"codigo\": \"Alarma 3 Clave Incorrecta\", \n    \"destinatario\": \"paulis949@gmail.com\",\n    \"mensaje\":\"ALERTA3. Se acaba de realizar un intento de más de 3 veces de clave incorrecta.\",\n    \"asunto\":\"URGENTE YALE CORPORATION ALERTA\"\n}\nreturn res;","outputs":1,"noerr":0,"x":670,"y":560,"wires":[["2947f7c0.15d2b","2f44a34a.40b47c"]]},{"id":"fbd76429.26ba28","type":"function","z":"110e4f2f.c13ce1","name":"JSON pa Correos","func":"var res = {};\nres.topic = \"alerta\";\nres.payload = {};\nres.payload = {\"codigo\": \"Alarma 4 Bateria Baja\", \n    \"destinatario\": \"paulis949@gmail.com\",\n    \"mensaje\":\"ALERTA4. Se acaba de detectar batería baja en el sistema de seguridad de YALE.\",\n    \"asunto\":\"URGENTE YALE CORPORATION ALERTA\"\n}\nreturn res;","outputs":1,"noerr":0,"x":650,"y":680,"wires":[["1554de07.80ce2a","2f44a34a.40b47c"]]},{"id":"b110b66a.10af2","type":"random","z":"110e4f2f.c13ce1","name":"","low":"1","high":"4","inte":"true","property":"payload.numer","x":300,"y":620,"wires":[["a2c7cbd7.ec4aa8"]]},{"id":"64fa097f.3e28b","type":"function","z":"110e4f2f.c13ce1","name":"Registro Mongo","func":"var res = {};\nres.topic = \"alerta\";\nres.payload = {};\nres.payload = {\n    \"Activo\": \"true\", \n    \"Tipo\": \"A1. Puerta Abierta\",\n    \"Conjunto\":\"Mirandela\",\n    \"Torre\":\"1\",\n    \"Piso\":\"1\",\n    \"Apartamento\":\"1\"\n}\nreturn res;","outputs":1,"noerr":0,"x":660,"y":380,"wires":[["4d9cc38e.3ef3f4"]]},{"id":"68520646.71aa98","type":"function","z":"110e4f2f.c13ce1","name":"Registro Mongo","func":"var res = {};\nres.topic = \"alerta\";\nres.payload = {};\nres.payload = {\n    \"Activo\": \"true\", \n    \"Tipo\": \"A1. Puerta Abierta\",\n    \"Conjunto\":\"Mirandela\",\n    \"Torre\":\"1\",\n    \"Piso\":\"1\",\n    \"Apartamento\":\"1\"\n}\nreturn res;","outputs":1,"noerr":0,"x":680,"y":500,"wires":[["faf1a53e.97614"]]},{"id":"faf1a53e.97614","type":"mongodb out","z":"110e4f2f.c13ce1","mongodb":"6e8400b4.cd5128","name":"","collection":"alertas","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1040,"y":500,"wires":[]},{"id":"f65579f2.921c1","type":"function","z":"110e4f2f.c13ce1","name":"Registro Mongo","func":"var res = {};\nres.topic = \"alerta\";\nres.payload = {};\nres.payload = {\n    \"Activo\": \"true\", \n    \"Tipo\": \"A1. Puerta Abierta\",\n    \"Conjunto\":\"Mirandela\",\n    \"Torre\":\"1\",\n    \"Piso\":\"1\",\n    \"Apartamento\":\"1\"\n}\nreturn res;","outputs":1,"noerr":0,"x":680,"y":600,"wires":[["453bfbe6.5c663c"]]},{"id":"453bfbe6.5c663c","type":"mongodb out","z":"110e4f2f.c13ce1","mongodb":"6e8400b4.cd5128","name":"","collection":"alertas","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1000,"y":600,"wires":[]},{"id":"1ee3a531.1c50fb","type":"mongodb out","z":"110e4f2f.c13ce1","mongodb":"6e8400b4.cd5128","name":"","collection":"alertas","payonly":false,"upsert":false,"multi":false,"operation":"store","x":980,"y":740,"wires":[]},{"id":"ed52bb62.5c99c","type":"function","z":"110e4f2f.c13ce1","name":"Registro Mongo","func":"var res = {};\nres.topic = \"alerta\";\nres.payload = {};\nres.payload = {\n    \"Activo\": \"true\", \n    \"Tipo\": \"A1. Puerta Abierta\",\n    \"Conjunto\":\"Mirandela\",\n    \"Torre\":\"1\",\n    \"Piso\":\"1\",\n    \"Apartamento\":\"1\"\n}\nreturn res;","outputs":1,"noerr":0,"x":660,"y":740,"wires":[["1ee3a531.1c50fb"]]},{"id":"b393a6c3.b4542","type":"inject","z":"110e4f2f.c13ce1","name":"","topic":"","payload":"{\"Activo\":\"true\",\"Tipo\":\"2\",\"Conjunto\":\"conjunto\",\"Torre\":\"1\",\"Piso\":\"1\",\"Apartamento\":\"1\"}","payloadType":"json","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":270,"y":200,"wires":[[]]},{"id":"8ad08333.c24d1","type":"serial in","z":"110e4f2f.c13ce1","name":"","serial":"a9df94cc.a607d8","x":200,"y":740,"wires":[[]]},{"id":"e464e164.19838","type":"mqtt in","z":"110e4f2f.c13ce1","name":"","topic":"Activo.A1.conjunto.1.1.1.config","qos":"0","broker":"e7776d56.84b2f8","x":250,"y":920,"wires":[["87f711e1.975598","2d40463.806383a","7168619d.5bf02"]]},{"id":"87f711e1.975598","type":"debug","z":"110e4f2f.c13ce1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":800,"wires":[]},{"id":"bf91b42a.0cdc78","type":"mqtt in","z":"110e4f2f.c13ce1","name":"","topic":"Activo.A2.conjunto.1.1.1.config","qos":"0","broker":"e7776d56.84b2f8","x":250,"y":1020,"wires":[["23bcc3ae.c4b31c","8abd7f4c.60c8f"]]},{"id":"85ae0a56.4d453","type":"mqtt in","z":"110e4f2f.c13ce1","name":"","topic":"Activo.A3.conjunto.1.1.1.config","qos":"0","broker":"e7776d56.84b2f8","x":250,"y":1100,"wires":[["a128c759.6a3f6","8aa21ccf.93ba48"]]},{"id":"aca7bf58.b201c8","type":"mqtt in","z":"110e4f2f.c13ce1","name":"","topic":"Activo.A4.conjunto.1.1.1.config","qos":"0","broker":"e7776d56.84b2f8","x":250,"y":1200,"wires":[["4106c8c5.4c4648","7f8943e6.427a24"]]},{"id":"b6edb498.a2b488","type":"mqtt out","z":"110e4f2f.c13ce1","name":"","topic":"Activo.A2.conjunto.1.1.1","qos":"0","retain":"false","broker":"e7776d56.84b2f8","x":970,"y":1060,"wires":[]},{"id":"38b01528.d9ec72","type":"mqtt out","z":"110e4f2f.c13ce1","name":"","topic":"Activo.A3.conjunto.1.1.1","qos":"0","retain":"false","broker":"e7776d56.84b2f8","x":990,"y":1160,"wires":[]},{"id":"26dde9ad.1ad30e","type":"mqtt out","z":"110e4f2f.c13ce1","name":"","topic":"Activo.A1.conjunto.1.1.1","qos":"0","retain":"false","broker":"e7776d56.84b2f8","x":950,"y":880,"wires":[]},{"id":"ff29da4f.7674a","type":"mqtt out","z":"110e4f2f.c13ce1","name":"","topic":"Activo.A4.conjunto.1.1.1","qos":"0","retain":"false","broker":"e7776d56.84b2f8","x":970,"y":1280,"wires":[]},{"id":"2beef286.2a5de6","type":"mongodb out","z":"110e4f2f.c13ce1","mongodb":"6e8400b4.cd5128","name":"","collection":"alertas","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1020,"y":940,"wires":[]},{"id":"2d40463.806383a","type":"function","z":"110e4f2f.c13ce1","name":"JSON pa Correos","func":"var res = {};\nres.topic = \"alerta\";\nres.payload = {};\nres.payload = {\"codigo\": \"Alarma 1 Puerta Abierta\", \n    \"destinatario\": \"paulis949@gmail.com\",\n    \"mensaje\":\"ALERTA1. La puerta de su inmueble ha permanecido abierta por más de 30 segundos\",\n    \"asunto\":\"URGENTE YALE CORPORATION ALERTA\"\n}\nreturn res;","outputs":1,"noerr":0,"x":650,"y":920,"wires":[["26dde9ad.1ad30e","11bcb475.f8ac44"]]},{"id":"23bcc3ae.c4b31c","type":"function","z":"110e4f2f.c13ce1","name":"JSON pa Correos","func":"var res = {};\nres.topic = \"alerta\";\nres.payload = {};\nres.payload = {\"codigo\": \"Alarma 2 Movimiento Sospechoso\", \n    \"destinatario\": \"paulis949@gmail.com\",\n    \"mensaje\":\"ALERTA2. Se acaba de detectar un movimiento sospechoso en su inmueble.\",\n    \"asunto\":\"URGENTE YALE CORPORATION ALERTA\"\n}\nreturn res;","outputs":1,"noerr":0,"x":670,"y":1060,"wires":[["b6edb498.a2b488","11bcb475.f8ac44"]]},{"id":"11bcb475.f8ac44","type":"debug","z":"110e4f2f.c13ce1","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":640,"y":860,"wires":[]},{"id":"a128c759.6a3f6","type":"function","z":"110e4f2f.c13ce1","name":"JSON pa Correos","func":"var res = {};\nres.topic = \"alerta\";\nres.payload = {};\nres.payload = {\"codigo\": \"Alarma 3 Clave Incorrecta\", \n    \"destinatario\": \"paulis949@gmail.com\",\n    \"mensaje\":\"ALERTA3. Se acaba de realizar un intento de más de 3 veces de clave incorrecta.\",\n    \"asunto\":\"URGENTE YALE CORPORATION ALERTA\"\n}\nreturn res;","outputs":1,"noerr":0,"x":670,"y":1160,"wires":[["38b01528.d9ec72","11bcb475.f8ac44"]]},{"id":"4106c8c5.4c4648","type":"function","z":"110e4f2f.c13ce1","name":"JSON pa Correos","func":"var res = {};\nres.topic = \"alerta\";\nres.payload = {};\nres.payload = {\"codigo\": \"Alarma 4 Bateria Baja\", \n    \"destinatario\": \"paulis949@gmail.com\",\n    \"mensaje\":\"ALERTA4. Se acaba de detectar batería baja en el sistema de seguridad de YALE.\",\n    \"asunto\":\"URGENTE YALE CORPORATION ALERTA\"\n}\nreturn res;","outputs":1,"noerr":0,"x":650,"y":1280,"wires":[["ff29da4f.7674a","11bcb475.f8ac44"]]},{"id":"7168619d.5bf02","type":"function","z":"110e4f2f.c13ce1","name":"Registro Mongo","func":"var res = {};\nres.topic = \"alerta\";\nres.payload = {};\nres.payload = {\n    \"Activo\": \"true\", \n    \"Tipo\": \"A1. Puerta Abierta\",\n    \"Conjunto\":\"Mirandela\",\n    \"Torre\":\"1\",\n    \"Piso\":\"1\",\n    \"Apartamento\":\"1\"\n}\nreturn res;","outputs":1,"noerr":0,"x":660,"y":980,"wires":[["2beef286.2a5de6"]]},{"id":"8abd7f4c.60c8f","type":"function","z":"110e4f2f.c13ce1","name":"Registro Mongo","func":"var res = {};\nres.topic = \"alerta\";\nres.payload = {};\nres.payload = {\n    \"Activo\": \"true\", \n    \"Tipo\": \"A1. Puerta Abierta\",\n    \"Conjunto\":\"Mirandela\",\n    \"Torre\":\"1\",\n    \"Piso\":\"1\",\n    \"Apartamento\":\"1\"\n}\nreturn res;","outputs":1,"noerr":0,"x":680,"y":1100,"wires":[["6c1404f6.aa275c"]]},{"id":"6c1404f6.aa275c","type":"mongodb out","z":"110e4f2f.c13ce1","mongodb":"6e8400b4.cd5128","name":"","collection":"alertas","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1040,"y":1100,"wires":[]},{"id":"8aa21ccf.93ba48","type":"function","z":"110e4f2f.c13ce1","name":"Registro Mongo","func":"var res = {};\nres.topic = \"alerta\";\nres.payload = {};\nres.payload = {\n    \"Activo\": \"true\", \n    \"Tipo\": \"A1. Puerta Abierta\",\n    \"Conjunto\":\"Mirandela\",\n    \"Torre\":\"1\",\n    \"Piso\":\"1\",\n    \"Apartamento\":\"1\"\n}\nreturn res;","outputs":1,"noerr":0,"x":680,"y":1200,"wires":[["c658f896.f9987"]]},{"id":"c658f896.f9987","type":"mongodb out","z":"110e4f2f.c13ce1","mongodb":"6e8400b4.cd5128","name":"","collection":"alertas","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1000,"y":1200,"wires":[]},{"id":"8f7808c0.4d9ca8","type":"mongodb out","z":"110e4f2f.c13ce1","mongodb":"6e8400b4.cd5128","name":"","collection":"alertas","payonly":false,"upsert":false,"multi":false,"operation":"store","x":980,"y":1340,"wires":[]},{"id":"7f8943e6.427a24","type":"function","z":"110e4f2f.c13ce1","name":"Registro Mongo","func":"var res = {};\nres.topic = \"alerta\";\nres.payload = {};\nres.payload = {\n    \"Activo\": \"true\", \n    \"Tipo\": \"A1. Puerta Abierta\",\n    \"Conjunto\":\"Mirandela\",\n    \"Torre\":\"1\",\n    \"Piso\":\"1\",\n    \"Apartamento\":\"1\"\n}\nreturn res;","outputs":1,"noerr":0,"x":660,"y":1340,"wires":[["8f7808c0.4d9ca8"]]},{"id":"e7776d56.84b2f8","type":"mqtt-broker","z":"","name":"","broker":"172.24.41.200","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"a9df94cc.a607d8","type":"serial-port","z":"110e4f2f.c13ce1","serialport":"/dev/tty.usbmodem1421","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"6e8400b4.cd5128","type":"mongodb","z":"","hostname":"172.24.42.76","port":"27017","db":"apirestfulencincominutos","name":""}]